@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
    background-color: #EAF0F1;
    font-family: 'Fira Sans'
}

input {
    width: 50%;
    border: 2px solid #0A79DF;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 20px;
}

input:focus {
  border-color: #30336B;
  box-shadow: 0px 0px 8px 0px #30336B;
}

textarea {
    width: 50%;
    height: 200px;
    border: 2px solid #0A79DF;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 20px;
}

textarea:focus {
  border-color: #30336B;
  box-shadow: 0px 0px 8px 0px #30336B;
}

.button {
    background: #0A79DF;
    color: #fff;
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 6px;
}

#errorMessage {
    color: red;
}

@media only screen and (max-width: 1080px) {
    input {
        width: 70%;
    }    

    textarea {
        width: 70%;
        height: 180px;
    }
}


@media only screen and (max-width: 600px) {
    input {
        width: 80%;
    }    

    textarea {
        width: 80%;
        height: 160px;
    }
}